main {
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    /* background-color: aqua; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: auto;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

}

.main-container h4 {
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 6px;
}

.pages {
    width: 100%;
    min-height: 50px;
    /* background-color: aqua; */
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pages button {
    min-width: 60px;
    min-height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    background-color: transparent;
    border: 0;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.message{
    width:60%;
    padding: 30px;
    margin-top: 60px;
    background-color: #EEEEEE;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: 17px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}