body {
  margin: 0;
  /* background: #E5E5E5; */
}

.body-container {
  width: 100%;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  /* background-color:antiquewhite; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageLoader{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}